@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

//* Style des étoiles *//

.ratingContainer {
  padding-top: 21px;
  font-size: 24px;
}

.starImg {
  width: 34px;
  
  @media screen and (max-width: 650px) {
    width: 16px;
  }
}