@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

//* Style de la page erreur *//

.errorPageContainer {
    @include flex-column;
    justify-content: center;
    padding-bottom: 40px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $primary-color;
    padding-bottom: 139px;

    &_title {
        font-size: 288px;
        font-weight: 700;
        padding-bottom: 139px;
    }

    &_subtitle {
        font-size: 36px;
        font-weight: normal;
    }
}

.returnHome {
    font-size: 18px;
    color: $primary-color;
    display: flex;
    justify-content: center;
}
