//* Les couleurs *//

$primary-color: #FF6060;
$secondary-color: #FFFFFF;

$background-color: #F6F6F6;
$black: #000000;

$lineargradient-cards: linear-gradient(180deg, rgba(255, 96, 96, 1) 0%, rgba(0, 0, 0, 1) 200%);

//* Les points de rupture (breakpoints) *//

$small-screen: 375px;
$medium-screen: 820px;