@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

//* Style des cartes de la page d'accueil *//

.collapseHead {
  @include collpase-display;
  padding-left: 15px;
  padding-right: 15px;
  height: 52px;
  border-radius: 5px;
  background-color: $primary-color;
  color: $secondary-color;
  cursor: pointer;

  @media screen and (max-width: 650px) {
    height: 30px;
  }

  &_title {
    font-size: 24px;
    font-weight: 500;

    @media screen and (max-width: 650px) {
      font-size: 13px;
    }
  }
}

.collapseBody {
  background-color: $background-color;

  &_content {
    height: 0;
    overflow: hidden;
    font-size: 18px;
    font-weight: 300;
    color: $primary-color;
    transition: all 0.3s ease;

    @media screen and (max-width: 650px) {
      font-size: 13px;
    }
  }
}

.showContent {
  height: auto;
  padding: 20px 25px;
}

//* Style des flèches de la collapse et du contenu *//

.arrow {
  transition: all 0.4s ease-in-out;

  @media screen and (max-width: 650px) {
    width: 22px
  }
}

.arrow_up {
  transform: rotate(0deg);
}

.arrow_down{
  transform: rotate(180deg);
}