@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

//* Style du Header *//

.headerContainer {
  @include header-display;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 45px 100px 50px;
  font-size: 24px;
  font-weight: 500;

  @media screen and (max-width: 1045px) {
		padding: 25px 50px 25px;
	}

	@media screen and (max-width: 650px) {
		padding: 10px 20px 27px;
	}
}

.logo {
  @media screen and (max-width: 650px) {
  width: 145px;
  }
}

.navList {
  @include flex-row;
  list-style-type: none;
  padding: 0;
  gap: 57px;

  &_btnHome,
  &_btnAbout {
    color: $primary-color;
    text-decoration: none;
  }

  .activeLink {
    text-decoration: underline;
  }

  li {
    &:hover,
    &:focus {
    text-decoration-line: underline;
    color: $primary-color;
    }
  }

  @media screen and (max-width: 1045px) {
		font-size: 24px;
	}

  @media screen and (max-width: 650px) {
		font-size: 12px;
    text-transform: uppercase;
    gap: 26px;
	}
}
