@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

//* Style du Footer *//

.footerContainer {
  @include footer-display;
  padding: 68px 0 29px;
  background-color: $black;
  gap: 29px;

  @media screen and (max-width: 650px) {
    padding: 66px 0 58px;
    gap: 14px;
	}

  @media screen and (max-width: 375px) {
    padding: 66px 121px 58px;
  }
}

.footerText {
  color: $secondary-color;
  text-align: center;

  @media screen and (max-width: 650px) {
	font-size: 12px;
	}
}