@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

//* Style de la page de logement *//

.pageContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

//* Groupe d'éléments *//

.divTitleTags {
    @include flex-column;
    gap: 20px;
}

.divHeadHost {
    @include flex-row;
    justify-content: space-between;
    margin-bottom: 20px;

    @media screen and (max-width: 650px) {
        @include flex-column;
    }
}

//* Titre et location du logement *//

.rentalHead {
    @include flex-column;
    color: $primary-color;

    &_title {
        font-weight: 500;
        font-size: 36px;

        @media screen and (max-width: 650px) {
            font-size: 18px;
        }
    }

    &_location {
        font-weight: 500;
        font-size: 18px;

        @media screen and (max-width: 650px) {
            font-size: 14px;
        }
    }
}

//* Tags du logement *//

.rentalTags {
    @include flex-row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    
    &_text {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $secondary-color;
        background-color: $primary-color;
        border-radius: 25px;
        padding: 10px 30px;

        @media screen and (max-width: 650px) {
            font-size: 10px;
            border-radius: 10px;
            padding: 2px 30px;
            height: 25px;
        }
    }
}

//* Informations de l'hôte et évalutation *//

.rentalHost {
    @include flex-column;
    align-items: flex-end;

    @media screen and (max-width: 650px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}
    
.rentalInformations {
    @include flex-row;
    align-items: center;
    gap: 10px;

    &_rating {
        display: flex;
        align-items: flex-end;
    }

    &_label {
        color: $primary-color;

        @media screen and (max-width: 650px) {
            font-size: 12px;
        }
    }
    
    &_pic {
        width: 64px;
        height: 64px;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;

        @media screen and (max-width: 650px) {
            width: 32px;
            height: 32px;
        }
    }
}

//* Collapses : description et équipements *//

.rentalCollapses {
    @include flex-row;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 76px;

    @media screen and (max-width: 650px) {
        @include flex-column;
        gap: 20px;
    }
}

.customWidth {
    width: 582px; 

    @media screen and (max-width: 650px) {
        width: 100%
    }
}