@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

//* Style de la page d'accueil *//

.pageContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.cardsLayout {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding : 50px;
    margin-top: 56px;
    margin-bottom: 56px;
    border-radius: 25px;
    background-color: $background-color;

    @media screen and (max-width: 650px) {
		background-color: $secondary-color;
        gap: 20px;
        padding: 0;
        margin-top: 22px;
	}
}

.cardsContainer {
    display: flex;
    align-self: center;
}