@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

//* Style de la bannière de la page "À propos" *//

.bannerContainer {
  @include banner-styles;
  background-image: url('../../assets/aboutBanner.png');
  justify-content: center;
  align-items: center;
  position: relative;
  height: 223px;

  @include small-screen {
    height: 111px;
  }

  &_content {
    font-size: 48px;
    color: $secondary-color;
    position: relative;
    z-index: 1;

    @include small-screen {
      padding-left: 16px;
      font-size: 24px;
    }

  }
  
  &:before {
    @include banner-shadow;
  }
}