@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

//* Style de la bannière de la page d'accueil *//

.bannerContainer {
  @include banner-styles;
  width: 100%;
  height: 223px;

  &:before {
    @include banner-shadow;
  }

  @media screen and (max-width: 1045px) {
    height: 111px;
  }
}
  
.bannerPicture {
  @include banner-img;
  width: 100%;
  height: 223px;

  @media screen and (max-width: 1045px) {
    height: 111px;
  }
}

.bannerText {
  font-size: 48px;
  color: $secondary-color;
  position: absolute;
  z-index: 1;

  @media screen and (max-width: 1045px) {
    font-size: 24px;
  }

  @media screen and (max-width: 650px) {
		padding : 0 16px;
	}
}



